/* ------ CSS Style Sheet - Bargoed Community Hub - Personnel ------ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container {
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: rgb(40, 40, 40);
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  text-align: center;
}
nav li {
  margin: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  nav ul {
    flex-direction: row;
    justify-content: flex-end;
  }
  nav li {
    margin: 0 1rem;
  }
}

header,
section,
footer {
  padding: 2rem;
}
h1 {
  text-align: center;
  filter: drop-shadow(-1px 6px 3px rgba(0, 0, 0, 0.1));
}
h2 {
  margin: 0 1rem;
  filter: drop-shadow(-1px 6px 3px rgba(0, 0, 0, 0.1));
}
p {
  margin: 0 1rem;
}
li {
  list-style: none;
  margin: 2rem;
}
header,
a {
  font-size: 2.05rem;
  color: white;
  font-weight: 700;
}
a {
  text-decoration: none;
}
a:hover {
  font-size: 2.05rem;
  filter: drop-shadow(-1px 5px 2px rgba(0, 0, 0, 0.1));
  color: rgb(255, 247, 0); /*  rgb(0, 255, 166)  */
}
img {
  width: 25rem;
  filter: drop-shadow(-1px 6px 3px rgba(0, 0, 0, 0.1));
}

/* ---------- Page Section Rows ---------- */
.sectn-one {
  filter: drop-shadow(-1px 6px 3px rgba(0, 0, 0, 0.1));
  background: rgb(55, 225, 255); /*  rgb(242, 0, 255)  |  rgb(238, 84, 152)  */
  color: white;
}
.sectn-two {
  background: rgb(255, 255, 255);
}
.sectn-three {
  background: rgb(235, 235, 235);
}
.sectn-four {
  background: white;
}
.sectn-five {
  background: rgb(60, 60, 60);
  color: white;
}
/* ---------- Page Images & Text ---------- */
.sectn-two {
  display: grid;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
}

.sectn-two img {
  object-fit: cover;
  width: 100%;
  border-radius: 50%;
}

.sectn-three {
  display: grid;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
}

.sectn-three img {
  object-fit: cover;
  width: 100%;
  border-radius: 50%;
}

.sectn-four {
  display: grid;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
}

.sectn-four img {
  object-fit: cover;
  width: 100%;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .sectn-two {
    grid-template-columns: repeat(2, 1fr);
  }
  .sectn-three {
    grid-template-columns: repeat(2, 1fr);
  }
  .sectn-four {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .sectn-two {
    grid-template-columns: repeat(3, 1fr);
  }
  .sectn-two img:nth-of-type(3) {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  .sectn-three {
    grid-template-columns: repeat(3, 1fr);
  }
  .sectn-three img:nth-of-type(3) {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  .sectn-four {
    grid-template-columns: repeat(3, 1fr);
  }
  .sectn-four img:nth-of-type(3) {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
}

/* ---------- Footer Above Line Contact Links ---------- */
.sec-image {
  border: 3px solid rgb(60, 60, 60);
}
.sec-contact {
  font-size: 2.05rem;
}

/* ---------- Social media Links ---------- */
.fa-facebook {
  color: rgba(66, 103, 178, 1);
  font-size: 3rem;
}
.fa-facebook:hover {
  font-size: 3.05rem;
  color: rgb(90, 140, 240);
  text-shadow: 1px 2px 1px rgb(58, 90, 155);
}
.fa-at {
  color: rgba(52, 168, 83, 1);
  font-size: 3rem;
}
.fa-at:hover {
  font-size: 3.05rem;
  color: rgb(80, 235, 121);
  text-shadow: 1px 2px 1px rgb(45, 147, 72);
}
.fa-linkedin {
  color: rgba(66, 103, 178, 1);
  font-size: 3rem;
}
.fa-linkedin:hover {
  font-size: 3.05rem;
  color: rgb(90, 140, 240);
  text-shadow: 1px 2px 1px rgb(58, 90, 155);
}
/* ---------- Footer Mid Line Break ---------- */
hr {
  border: 1px solid rgb(255, 247, 0);
}
/* ---------- Footer Base Line Copyright ---------- */
#sec-copy {
  font-size: 1.25rem;
}
.sec-disclaimer {
  font-size: 2.05rem;
}
